:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: rgb(34, 37, 46);
}

* {
  /* padding: 0;
  margin: 0; */
  box-sizing: border-box;
}

input,
textarea {
  padding: 10px;
}

textarea {
  resize: vertical;
}

.note-input {
  display: flex;
  flex-direction: column;
}

.note-input input,
.note-input textarea,
.note-input button {
  margin-bottom: 10px;
}

.note-input button {
  padding: 10px;
}

.notes-list__empty-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.notes-list__empty-message img {
  width: 300px;
}

.notes-list__empty-message p {
  text-align: center;
}
